[Unit]
Description=Calico per-host agent
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
Environment=CALICO_DISABLE_FILE_LOGGING=false
Environment=HOSTNAME={{ MY_IP }}
Environment=IP={{ MY_IP }}
Environment=FELIX_FELIXHOSTNAME={{ MY_IP }}
Environment=CALICO_NETWORKING=false
Environment=NO_DEFAULT_POOLS=true
Environment=ETCD_ENDPOINTS={{ ETCD_ENDPOINTS }}
ExecStart=/usr/bin/rkt run --inherit-env --stage1-from-dir=stage1-fly.aci \
--volume=modules,kind=host,source=/lib/modules,readOnly=false \
--mount=volume=modules,target=/lib/modules \
--volume=dns,kind=host,source=/etc/resolv.conf,readOnly=true \
--mount=volume=dns,target=/etc/resolv.conf \
--volume=tls,kind=host,source=/etc/kubernetes/ssl,readOnly=true \
--mount=volume=tls,target=/calico-secrets \
--trust-keys-from-https quay.io/calico/node:v1.1.1

KillMode=mixed
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
